body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#canvas {
    background-image:url("./flappyfishbg.png");
   
}
#start-screen {
    position: absolute;
    width: 360;
    height: 640;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playButton {
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Game-Over {
    display: none; /* Sembunyikan Game-Over awalnya */
    position: absolute;
    width: 240px; /* Tambahkan satuan untuk width */
    height: 120px; /* Tambahkan satuan untuk height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: gameOverAnimation 0.5s ease-out forwards;
}

@keyframes gameOverAnimation {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#homeButton,
#tryagainButton {
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    top: 100%; /* Ubah top menjadi 20% agar muncul di bagian atas */
    display: flex; /* Tambahkan properti ini untuk membuat child sejajar */
    flex-direction: row;
    align-items: center;
}
#homeButton {
    left: 1%; /* Sesuaikan posisi left untuk menyesuaikan dengan flex-direction: row; */
    transform: translate(0, -50%); /* Sesuaikan transformasi */
}

#tryagainButton {
    right: 70%; /* Sesuaikan posisi left untuk menyesuaikan dengan flex-direction: row; */
    transform: translate(0, -50%); /* Sesuaikan transformasi */
}